/* Color Theme Swatches in Hex */
$pink: #caafd0;
$darkPink: #cc7295;
$lightPink: #efa9a9;
$hardal: #dbe1b5;
$olive: #75957d;
$headerColor:rgb(32, 33, 104);
$white:#fff;
$black:#000;
$cardBackground:rgb(221, 217, 217);
$grey:grey;

